

<main class="row justify-content-center mt-lg">

        <h1 class="col-12 text-title animated fadeIn"> {{this.category.name}} </h1>
        <div *ngFor="let product of this.productListByCategory" class="animated fadeIn col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 mt-lg">
            
            <figure (click)="open(infoModal)" class="main-fig-2 container" style="background-image: url('{{product.imageUrl[0]}}'); cursor: pointer;"></figure>
           
            <ng-template #infoModal let-modal>
                <ngb-carousel>
                    <ng-template *ngFor="let img of product.imageUrl" ngbSlide >
                        <img class="main-fig-1" src="{{img}}">
                        <h3 class="carousel-caption" [textContent]="product.id"></h3>
                    </ng-template>
                  
            </ngb-carousel>
            </ng-template>   
            
        </div>
        
    </main>
    
    


    
   

    
   


         
  
        

    


