.main-fig-1{
    width: inherit;
    height: inherit;
    background-repeat: no-repeat; 
    background-size:cover;
    border-radius: 10px;
    border: 6px #33E7EA dashed;
    /*display: block;
  margin-left: auto;
  margin-right: auto;*/
   
}

.main-fig-2{
    width: 256px;
    height: 160px;
    background-size: cover;
    background-repeat: no-repeat;
    border: 4px #33E7EA dashed;
    border-radius: 10px;
    transition: 0.8s;
    
    
}

.main-fig-2:hover{
    filter: saturate(200%);
    border: 4px #EE268C dashed;
}

.anchor-main-style{
    width: 120px;
    height: 27px;
  
    border-radius: 10px;
   background-repeat: no-repeat;
   background-size: cover;
   transition: 0.7s;
    /* border: 4px #33E7EA dashed;cdisplay: block;
  margin-left: auto;
  margin-right: auto;*/
}

.anchor-main-style:hover{
    filter: saturate(150%);
    width: 180px;
    height: 40px;
    border-radius: 15px;
}


