.pink-btn, .orange-btn, .green-btn, .cian-btn, .blue-btn {
    border: none;
    border-radius: 20px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.48);
    color: white;
    width: 250px;
    height: 40px;
    font-family: 'Comic Neue', cursive;
    font-weight: bolder;
    font-size: large;
    transition: 0.5s;
  }
   
  .pink-btn {
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 10px 0px #EE268C;
    background-image: linear-gradient(to bottom, #EE268C, rgba(161, 175, 245, 0.24));
    filter: saturate(140%);
    
  }
  .pink-btn:hover {
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 30px 0px #EE268C;
    filter: saturate(200%);
    width: 265px;
    height: 45px;
    font-size: larger;
  }

  
  .orange-btn {
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 10px 0px #F7853C;
    background-image: linear-gradient(to bottom, #F7853C, rgba(222, 135, 61, 0.24));
    filter: saturate(140%);
  }

  .orange-btn:hover {
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 30px 0px #F7853C;
    filter: saturate(200%);
    width: 265px;
    height: 45px;
    font-size: larger;
  }

 

  .green-btn {
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 10px 0px #00A85F;
    background-image: linear-gradient(to bottom, #00A85F, rgba(86, 202, 139, 0.18));
    filter: saturate(140%);
  }
  .green-btn:hover {
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 30px 0px #00A85F;
    filter: saturate(200%);
    width: 265px;
    height: 45px;
    font-size: larger;
  }
 
  
  .cian-btn{
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 10px 0px #33E7EA;
    background-image: linear-gradient(to bottom, #33E7EA, rgba(161, 245, 245, 0.24));
    filter: saturate(140%);
  }
  .cian-btn:hover {
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 30px 0px #33E7EA;
    filter: saturate(200%);
    width: 265px;
    height: 45px;
    font-size: larger;
  }

  
  .blue-btn {
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 10px 0px #0099D8;
    background-image: linear-gradient(to bottom, #0099D8, rgba(161, 175, 245, 0.24));
    filter: saturate(140%);
  }
  .blue-btn:hover {
    box-shadow: 0px 0px 0px 2px rgba(161, 175, 245, 0.24) inset, 0px 0px 30px 0px #0099D8;
    filter: saturate(200%);
    width: 265px;
    height: 45px;
    font-size: larger;
  }

  