<footer class="row justify-content-center footer-style mb-lg mt-lg">
   <hr class="hr-green">
    <div class="col-xxl-4 col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 mb-md">
        <div class="row">
            <h6 class="col-12 text-title">NUESTRAS REDES</h6>
            <a target="_blank" href="https://www.facebook.com/tikiriidesignforkids" class="col-12 center-all">
                <img src="assets/img/facebook_icon_60.png" alt="" style="box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 10px 0px #0099D8;"  class="anchor-footer-style">
            </a>
            <a target="_blank" href="https://www.instagram.com/tikirii_designforkids" class="col-12 center-all mt-md">
                <img src="assets/img/instagram_icon_60.png" alt="" style="box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 10px 0px #EE268C;"  class="anchor-footer-style">    
            </a>
        </div>
        
   </div> 
    <div class="col-xxl-4 col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 mb-md">
        <div class="row justify-content-center">
            <h6 class="col-12 text-title">CONTACTO</h6>
            <a target="_blank" class="col-12 center-all mb-md" href="https://wa.me/+5493751524207">
                <img src="assets/img/wa_chat_icon_60.png" style="box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 10px 0px #00A85F;" alt=""  class="anchor-footer-style">    
            </a>
        </div>
            
    </div>
    <div class="col-xxl-4 col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 mb-md">
        <div class="row justify-content-center">
         
            <a (click)="open(infoModal)" class="col-12 center-all mb-md" >
                <img src="assets/img/acerca_icon_60.png" style="box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 10px 0px #EE268C;" alt=""  class="anchor-footer-style">    
            </a>

            <ng-template #infoModal let-modal>
                <p class="modal-footer">Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Facilis quo earum ipsam, dolorem ad voluptatem fuga dolores 
                    ducimus suscipit eos nesciunt reiciendis temporibus cumque praesentium non 
                    cupiditate corrupti recusandae dolorum! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Moles
                    tiae deleniti, excepturi accusantium explicabo aperiam reprehenderit id, libero
                     alias voluptatibus itaque officiis vitae, numquam tempora. Quas doloribus sequi illo sed nostrum.</p>
            </ng-template> 

        </div>
            
    </div>
        
  
    
</footer>
