.footer-style{
    width: inherit;
    height: inherit;
    padding-top: 10px;
    padding-bottom: 10px;
    /*display: block;
  margin-left: auto;
  margin-right: auto;*/
}
.anchor-footer-style{
    width: 133px;
    height: 30px;
  
    border-radius: 10px;
   background-repeat: no-repeat;
   background-size: cover;
   transition: 0.7s;
    /* border: 4px #33E7EA dashed;cdisplay: block;
  margin-left: auto;
  margin-right: auto;*/
}

.anchor-footer-style:hover{
    filter: saturate(150%);
    width: 200px;
    height: 45px;
    border-radius: 15px;
}