<footer class="container footer-style mb-lg">
    <a target="_blank" href="https://www.facebook.com/tikiriidesignforkids" class="anchor-footer-style">faceboo</a>
    <a target="_blank" href="https://www.instagram.com/tikirii_designforkids" class="anchor-footer-style">instagram</a>
    <a target="_blank" href="" class="anchor-footer-style">gmail</a>
    <a target="_blank" class="anchor-footer-style" href="https://wa.me/+5493751524207?text=hola%20gaby%20este%20msj%20de%20prueba%20soy%20maikel%20saludos%20desde%20prision" class="a-footer-style">wasap</a>
</footer>
