<footer class="row justify-content-center footer-style mb-lg mt-xl">
   <hr class="hr-green">
    <div class="col-6">
        <div class="row">
            <h6 class="col-12 text-title">NUESTRAS REDES</h6>
            <a target="_blank" href="https://www.facebook.com/tikiriidesignforkids" class="col-12 center-all">
                <img src="assets/img/facebook_icon_60.png" alt="" style="box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 10px 0px #0099D8;"  class="anchor-footer-style">
            </a>
            <a target="_blank" href="https://www.instagram.com/tikirii_designforkids" class="col-12 center-all mt-md">
                <img src="assets/img/instagram_icon_60.png" alt="" style="box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 10px 0px #EE268C;"  class="anchor-footer-style">    
            </a>
        </div>
        
   </div> 
    <div class="col-6">
        <div class="row justify-content-center">
            <h6 class="col-12 text-title">CONTACTO</h6>
            <a target="_blank" class="col-12 center-all mb-md" href="https://wa.me/+5493751524207?text=hola%20gaby%20este%20msj%20de%20prueba%20soy%20maikel%20saludos%20desde%20prision">
                <img src="assets/img/wa_chat_icon_60.png" style="box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 10px 0px #00A85F;" alt=""  class="anchor-footer-style">    
            </a>
        </div>
            
    </div>
        
  
    
</footer>
