 
 body{
   
    /*background-image: url("assets/img/tikirii_fondo7.png");*/
    /*background-color:lemonchiffon;*/
   /* background-color: papayawhip;*/
   /*background-color:cornsilk;*/
   background-color:floralwhite;
    background-repeat: no-repeat;
    background-size:cover;
  }
 
 /*margenes*/
 .mt-xs { margin-top: .25em; }
 .mt-sm { margin-top: .5em; }
 .mt-md { margin-top: 1em; }
 .mt-lg { margin-top: 2.5em; }
 .mt-xl { margin-top: 6em; }
 .mb-md { margin-bottom: 1em; }
 .mb-lg { margin-bottom: 2.5em; }
 .mb-xl { margin-bottom: 6em; }
 .mb-sm { margin-bottom: .5em; }
 .ml-md { margin-left: 1em; }
 .mlr-auto{margin-left: auto; margin-right: auto;}

.hr-blue{
    border-top: 4px #0099D8 dashed;
}
.hr-pink{
    border-top: 4px #EE268C dashed;

}
.hr-green{
    border-top: 4px #00A85F dashed;
}

.hr-orange{
    border-top: 4px #F7853C dashed;
}

 .center-all{
    display: flex;
    justify-content: center;
 }

 .text-title{
    text-align: center;
    font-family: 'Comic Neue', cursive;
    color: #00AEED;
    
 }

 .red-border{
    border: red solid 1px;
 }
/*ocultar mostrar*/

.hideContent{display: none;}

  .showContent{display:block;}

 /* transiciones al cargar la pag----------------------------------------------------*/
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  


  /* transiciones fadeIn fadeOut*/
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  }
  
  .fadeOut {
    animation-name: fadeOut;
  }
